.skills {
    display: flex;
    flex-direction: column;

}

.skills .tools ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .tools h3 {
    margin: .5rem 2rem .5rem 2rem;
}

.skills .tools ul {
    margin: .5rem 2rem 0 1.5rem;
}

.skills .tools ul li img {
    max-width: 50px;
    margin: .5rem;
}

.skills .personal h3{
    margin: .5rem 2rem .5rem 2rem;
}

.skills .personal ul{
    margin: 1rem 2rem 1rem 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.skills .personal ul li{
    margin: 0 1rem 1rem 0;
    list-style: inside;
}

@media only screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}